body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}
#products{
    display: flex;
}

.product-detail {
    display: flex;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    align-items: center;
    position: relative;
}

.product-image {
    width: 350px;
    height: 350px;
    margin-right: 1rem;
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 1.5rem;
    margin: 0;
}

.product-description {
    font-size: 1rem;
    color: #666;
}

.product-price {
    font-size: 1.25rem;
    color: #000;
}

.cta-button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #e63900;
}

.additional-details {
    display: none;
    position: absolute;
    bottom: -2rem;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    width: calc(100% - 2rem);
    z-index: 1;
    transition: display 0.3s ease-in-out;
}

.product-detail:hover .additional-details {
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}